:root {
  --primary: #F15156;
  --primary-dark: #E44449;
  --secondary: #FDECED;
  --yellow: #F4D35E;
  --text: #0D3B66;
  --green: #3CDC8C;
  --orange: #F27006;
  --input-background: #F5F8FA;
  --input-border: #D3E2E5;
  --select-background: #F75F64;
  --select-type-background: #FBE1E2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

 
body {
  background: var(--primary);
  -webkit-font-smoothing: antialiased;
  max-width: 100vw;
  overflow-x: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

input,  button, textarea {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}
